.mainDiv{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin: auto;
  width:3rem;
  height:10px;
  height:32px; 
  z-index: 50;
}

.inside{
  width:50px;
  height:50px;
  color: grey;
  animation: spinnerEffect 2s 5s infinite;
  -moz-animation: spinnerEffect 2s 5s infinite;
  -webkit-animation: spinnerEffect 2s 5s infinite;
  -o-animation: spinnerEffect 2s 5s infinite;
}

@keyframes spinnerEffect {
  0%   {color: grey;}
  25%  {color: yellow;}
  100% {color: #E26EE5;}
  to{
    transform: rotate(360deg)
  }
}